img {
    width: 100px;
    height: 200px;
}


h2 h3 {
    display: flex;
    text-align: center;
}
.choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    
}

.restart {
    display: flex;
    justify-content: center;
    padding: 10px;
}